
/*
Template original : Free CSS Templates
Des éléments ont été ajoutés, modifiés ou supprimés pour cet exercice
*/

body {
	margin: 0;
	padding: 0;
	background: #E3E3E3 url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4C4C4C;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #3E3530;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #FF6C00;
}

a:hover {
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 1100px;
	margin: 0 auto;
	height: 100px;
	padding: 0px 0px 0px 30px;
}

/* Logo */

#logo {
	float: left;
	width: 400px;
	margin: 0;
	padding: 0;
	color: #000000;
}

#logo h1, #logo p {
}

#logo h1 {
	padding: 10px 0px 0px 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 2.5em;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}


/* Menu */

#menu {
	float: right;
	width: 700px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 20px;
	margin-right: 1px;
	padding: 40px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover {
	background: #FF6C00;
	text-decoration: none;
}

#menu .current_page_item a {
	background: #FF6C00 url(images/img02.jpg) no-repeat left top;
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 1100px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#page-bgtop {
	padding: 50px 0px 0px 0px;
}
/* Content */

#content {
	float: left;
	width: 650px;
	padding: 0px 0px 0px 0px;
}

.post {
	margin-bottom: 20px;
}

.post .title {
	height: 41px;
	padding: 7px 0px 10px 30px;
}

.post .title a {
	color: #FF6A00;
	border: none;
}

.post .meta a {
}

.post .entry {
	padding: 0px 30px 20px 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #B3B3B3;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 380px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px solid #B3B3B3;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.5em;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #000000;
}

#sidebar a:hover {
	text-decoration: underline;
}


/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #000000 url(images/img03.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}


/* Eléments ajoutés */

.post .entry img {
	border:0;
}

.centrer {
	text-align:center;
}

